.background{
  background-image: url('../../img/6.jpg');
  background-position: center;
  background-size: cover;
  height: 98vh;
}

.caja-1{
  text-align: center;
}

.caja-2{
   text-align: center;
   padding-top: 20px;
   padding-bottom: 50px;
}

.caja-2-1{
 text-align: center;
 margin-left: 1000px;
 margin-right: 1000px;
}